@media (max-width: 1140px) {

    .header {
        height: 600px;
    }

    .header .promo_wrapper {
        height: 500px;
    }

    .header .promo .slog1 {
        font-size: 28px;
    }
    
    .header .promo .slog2 {
        margin-top: 15px;
        font-size: 50px;
    }
}

@media (max-width: 1024px) {
    
    /* .button {
        padding: 15px 30px;
    }

    .header .promo .button {
        margin-top: 20px;
    } */
}

@media (max-width: 840px) {

    .header {
        height: 500px;
    }

    .header .promo_wrapper {
        height: 400px;
    }

    .logos_wrapper {
        max-width: 450px;
        margin: 0 auto;
    }

    .footer_wrapper {
        height: 110px;
    }

    .footer_social {
        max-width: 150px;
    }

}

@media (max-width: 768px) {

    .container {
        width: 90%;
    }

    .header .nav .menu-mobile {
        display: flex;
        justify-content: flex-end;
        position: fixed;
        right: 5%;
    }
    
    .header .nav ul {
        display: none;
    }

    .header .nav ul {
        flex-direction: column;
        text-align: right;
        position: fixed;
        top: 80px;
        right: 87px;
    }

    .header .nav li > ul {
        display: block;
        position: static;
        margin-right: 30px;
    }

    .header .nav li > ul > li > ul {
        position: static;
    }

    .header .nav li:hover > ul {
        display: none;
    }

    .header .nav a {
        padding: 5px;
    }

    .about_story_item {     
        text-align: right;
    }

    .about_story_item .left,
    .about_story_item .right {
        flex: none;
        max-width: 440px ;
        min-height: auto;
        padding-bottom: 30px;
        margin-left: -60px;
    }
    
    .about_story_item:nth-child(even) .left {
        display: none;
    }

    .about_story_item:nth-child(odd) .right {
        display: none;
    }

    .about_story_item .right {
        justify-content: flex-end;
        text-align: right;
        border-right: 2px solid #f1f1f1;
    }

    .about_story_item .text {
        margin: 0;
        order: -1;
    }

    .about_story_item .left .text {
        margin-right: 20px;
    }
    
    .about_story_item .right .text {
        margin-right: 80px;
    }

    .about_story_item .text .date,
    .about_story_item .text h3 {
        padding: 3px 0;
    }

    .about_story_item .text h3 {
        padding-bottom: 10px;
    }

    .about_story_item .left img,
    .about_story_item .right img {
        height: 120px;
        width: 120px;
        border: 4px solid #f1f1f1;
        margin-right: -65px;
    }

    .about_story_item .button {
        height: 128px;
        width: 128px;
        border: 4px solid #f1f1f1;
        margin-left: 380px;
    }
}

@media (max-width: 680px) {

    section {
        padding: 60px 0;
    }

    section h2 {
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 10px;
    }
    
    section h3 {
        font-size: 18px;
        padding-bottom: 10px;
    }

    .button {
        padding: 10px 20px;
        font-size: 16px;
    }

    .head-caption {
        padding-bottom: 40px;
    }
    
    .header {
        height: 400px;
    }

    .header .nav ul {
        top: 55px;
        right: 70px;
    }

    .header .promo_wrapper {
        height: 300px;
    }

    .header .promo .slog1 {
        font-size: 20px;
    }
    
    .header .promo .slog2 {
        margin-top: 10px;
        font-size: 30px;
    }

    .header .promo .button {
        margin-top: 10px;
    }

    .portfolio_item {
        margin: 10px ;
    }

}

@media (max-width: 425px) {

    input,
    textarea {
        width: 250px;
        height: 20px;
        margin: 8px;
        padding: 5px;
    }

    .header {
        height: 500px;
    }

    .header_top_wrapper {
        padding-top: 20px;
    }

    .about_story_item .left,
    .about_story_item .right {
        width: 80% ;
        margin: 0;
        border: none;
    }

    .about_story_item .left .text,
    .about_story_item .right .text {
        margin: 0;
        text-align: center;
    }

    .about_story_item .left img,
    .about_story_item .right img {
        display: none;
    }

    .about_story_item .button {
        height: 128px;
        width: 128px;
        border: 4px solid #f1f1f1;
        margin: 0;
    }

    .portfolio_item {
        width: 260px;
    }

    .portfolio_item img {
        width: 260px;
    }

    .team p {
        width: 80%;
    }

    .team_list {
        flex-direction: column;
        align-items: center;
    }

    .team_item {
        margin-bottom: 30px;
    }

    .team_list .img {
        width: 180px;
        height: 180px;
        margin-bottom: 10px;
        border: 4px solid #fff;
    }

    .team_list .name {
        margin-bottom: 5px;
    }

    .team_list .social {
        margin-top: 10px;
    }

    .team_list a {
        padding: 15px;
    }

    .footer_wrapper {
        height: 200px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .footer_caption {
        flex: none;
        text-align: center;
    }

    .footer_social {
        flex: none;
        max-width: 100px;
        margin: 15px 0;
    }

    .button-feedback {
        flex: none;
        text-align: center;
    }

    .footer_social a {
        padding: 18px;
    }

    .popup .popup_message {
        width: 210px;
    }

    .form_block form {
        font-size: 20px;
    }

    .form_block input {
        width: 200px;
    }

    .form_block input::placeholder {
        font-weight: normal;
        font-size: 16px;
    }

}

@media (max-width: 320px) {

    .popup .popup_message {
        width: 150px;
    }

}